1. WAP to take 10 numbers from a user and store them in a list.

In [3]:
l = []
for i in range(10):
    number = int(input("Enter a number: "))
    l.append(number)
print(l)

Enter a number: 5
Enter a number: 1
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 8
Enter a number: 10
Enter a number: 55
Enter a number: 63
Enter a number: 14
[5, 1, 4, 5, 6, 8, 10, 55, 63, 14]

2. Display numbers divisible by 5 from a list.

In [6]:
lst = [5, 13, 24, 10, 45, 28, 250, 478, 500, 67, 263, 30]
print("Numbers divisible by 5 listed below: ")
for i in range(0, len(lst)):
    if lst[i] % 5 == 0:
        print(lst[i])

Numbers divisible by 5 listed below:
5
10
45
250
500
30

3. WAP to calculate the count of elements in a string taken as input from the user.

In [12]:
str1 = input("Enter the string value: ")
count = 0
for i in range(0,len(str1)):
    if str1[i] != ' ':
        count += 1;
print("No. of elements present in the string: ", count)

Enter the string value: NehaArora
No. of elements present in the string:  9

4. WAP to check if a number is even or odd where number is taken as input.

In [13]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter a number: 46
Number is Even

5. WAP to reverse a string taken as input from the user.

In [16]:
string = input("Enter a string: ")
rstring = ''
for str1 in string:
    rstring = str1 + rstring
print("Reverse of a string: ", rstring)

Enter a string: Neha
Reverse of a string:  aheN

6. WAP to reverse all the strings present in a list and save them in a new list.

In [23]:
lst = ["Hi", "Neha", "Renu", "Amyra", "Sukhleen", "Himani"]
revLst = []
def reverse_string(string):
    rstring = ''
    for str1 in string:
        rstring = str1 + rstring
    return rstring
for i in range(0, len(lst)):
    revLst.append(reverse_string(lst[i]))
print(revLst)

['iH', 'aheN', 'uneR', 'arymA', 'neelhkuS', 'inamiH']

7. Print characters from a string that are present at an even index number

In [25]:
string = input("Enter a string: ")

for str1 in range(0,len(string)):
    if str1 % 2 == 0:
        print(string[str1])

Enter a string: Programmer
P
o
r
m
e

8. Check if the first and last number of a list is the same

In [28]:
l = [4, 8, 5, 25, 7, 69, 8, 3, 4]
if l[0] == l[len(l) - 1]:
    print("First and last number of list is same")

First and last number of list is same

9. Calculate income tax for the input income by adhering to the Indian rules.#this is a comment

In [15]:
salary = int(input("Enter you annual salary: "))

if salary >=0 and salary <=250000:
    tax = 0
elif salary >250000 and salary <=500000:
    tax = (salary - 250000) * 0.05
elif salary >500000 and salary <=1000000:
    tax = (salary - 500000) * 0.2 + 12500
elif salary >1000000:
    tax = (salary - 1000000) * 0.3 + 12500 + 0.2 * 500000
else:
    tax = 0

total_tax = tax + (0.04*tax)
print(total_tax)

Enter you annual salary: 250000
0.0

In [6]:
str1 = "Amyra"
lst = ['a', 'e', 'i', 'o', 'u']
if str1[0].lower() in lst:
    print("String starts with vowel")
else:
    print("String not starting with Vowel")

String starts with vowel

11. Write a Python program to check if all the characters of a string are vowel or not.

In [28]:
str1 = "Amyra"
lst = ['a', 'e', 'i', 'o', 'u']
lstVowel = []
count = 0
for i in range(0,len(str1)):
    if str1[i].lower() in lst:
        lstVowel.append(str1[i])
print(len(lstVowel))
print(len(str1))
if (len(lstVowel) == len(str1)):
    print("All characters of string are vowel")
else:
    print("All characters of string are vowel")

2
5
All characters of string are vowel

12. WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user.

In [36]:
lst = []
sum = 0
for i in range(5):
    marks = int(input("Enter marks in "+ str((i + 1)) + " subject"))
    lst.append(marks)
    sum += lst[i]
percentage = (sum / 500) * 100
print("Percentage: ", percentage)

Enter marks in 1 subject85
Enter marks in 2 subject47
Enter marks in 3 subject89
Enter marks in 4 subject95
Enter marks in 5 subject87
Percentage:  80.60000000000001

13. WAP to convert '95.3' taken as input from the user into float value.

In [38]:
userInp = '95.3'
out = float(userInp)
print(out, type(out))

95.3 <class 'float'>

14. WAP to count the number of zeroes present in a number taken as input from the user.

In [41]:
number = 40004841054984000
total = 0
for i in str(number):
    if i == '0':
        total += 1
print("Total no of zeroes present: ", total)

Total no of zeroes present:  7

15. WAP to calculate the surface area of a triangle. Take the required values as input.

In [42]:
base = int(input("Enter the base of a triangle: "))
height = int(input("Enter the height of a triangle: "))
area = 1/2 * base * height
print("Area of a triangle = ",area)

Enter the base of a triangle: 5
Enter the height of a triangle: 10
Area of a triangle =  25.0

16. WAP to concatenate two lists index-wise and save the result in a 3rd list.

In [1]:
l1 = ['1', '2', '3']
l2 = ['5', '6', '7', '8']
l3 = []
for i in range(min(len(l1), len(l2))):
    x = l1[i] + l2[i]
    l3.append(x)
print(l3)

['15', '26', '37']

17. WAP to convert two lists into a dictionary. Take the elements from first list as keys
and elements from second list as values.

In [16]:
list1 = [1, 2, 3, 4]
list2 = ["Anil", "Renu", "Neha", "Pulkit"]
dictionary = dict()
for i in range(0,len(list1)):
    dictionary[list1[i]] = list2[i]
print(dictionary)

{1: 'Anil', 2: 'Renu', 3: 'Neha', 4: 'Pulkit'}

18. Input and store the marks of 10 students in a list. Print max and min marks.

In [11]:
lst = []
for num in range(10):
    marks = int(input("Enter the marks"))
    lst.append(marks)
print(" Maximum marks: ",max(lst))
print("Minimum marks: ",min(lst))

Enter the marks65
Enter the marks58
Enter the marks48
Enter the marks98
Enter the marks78
Enter the marks63
Enter the marks88
Enter the marks89
Enter the marks25
Enter the marks39
 Maximum marks:  98
Minimum marks:  25

19. WAP to save the username and password of 10 users in a dictionary.

In [19]:
d1 = {}
username = ['akansha', 'sonia', 'sukhleen', 'arohi', 'gazal', 'himani', 'ritesh', 'ritika', 'akshara', 'ritu']
password = ['1234', 'sdfg', 'zxcv', '7890', 'qwerty', 'zxcvbnm', 'ghjkl', '96325', 'ioplk', '456123']

for i in range(10):
    d1.update({username[i] : password[i]})
print(d1)

{'akansha': '1234', 'sonia': 'sdfg', 'sukhleen': 'zxcv', 'arohi': '7890', 'gazal': 'qwerty', 'himani': 'zxcvbnm', 'ritesh': 'ghjkl', 'ritika': '96325', 'akshara': 'ioplk', 'ritu': '456123'}

20. Write a Python program to find the sum of the first n positive integers. Take n as input from the user.

In [6]:
n = int(input("Enter the number input: "))
sum = n * (n + 1) / 2

print(sum)

Enter the number input: 2
3.0